
.post{
padding-left: 420px;
width: 550px;
height: 400px;



}

.imagen-html5 {

    margin-top: 20px;
margin-left: 20;
font-size: 30px;
}

.fa-heart {
    margin-left:10px ;
    font-size: 30px;

}

.fa-comment-dots {
margin-left:10px ;
    font-size: 30px;

}

.fa-paper-plane {
    margin-left:10px ;
    font-size: 30px;

}

.Post-header {
   
   display: flex;
}
.Post-header p {
   margin-left: 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.header-trespuntos img{
    padding-top: 15px;
    margin-left: 280px;
    float: right;
}

.contenido {

   text-align: justify;
}

.POST-IMAGEN img{
 padding-bottom: 10px;
   position: relative;
width: 550px;
height: 300px;


}

.POST-BUTTON {

    position: relative;
    width: 550px;
height: 20px;
}

.POST-BUTTON img {
    margin-left: 390px;
}


.POST-USUARIOS  {
position: relative;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
