body{
  background-color: black;
}
   

.post{
  
    padding-top: 30px;
padding-left: 320px;
width: 550px;
height: 400px;



}

.imagen-html5 {

    margin-top: 20px;
padding-left: 10px;
font-size: 30px;
}

.fa-heart {
    margin-left:10px ;
    font-size: 30px;

}

.fa-comment-dots {
margin-left:10px ;
    font-size: 30px;

}

.fa-paper-plane {
    margin-left:10px ;
    font-size: 30px;

}

.Post-header {
   
   display: flex;
}

.Post-header{
    background-color: white;

}
.Post-header p {
   
   margin-left: 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

.header-trespuntos img{
    padding-top: 15px;
    margin-left: 280px;
    float: right;
}

.CONTENIDO {
padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
   text-align: justify;
}

.POST-IMAGEN img{
 padding-bottom: 10px;
 
width: 550px;
height: 350px;


}

.POST-BUTTON {
    background-color: white;

    position: relative;
    width: 550px;
height: 20px;
}

.POST-BUTTON img {
    margin-left: 390px;
}


.POST-USUARIOS  {
    padding-left: 10px;
    padding-top: 15px;
position: relative;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
